
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1 class="display-1">Error</h1>
    <span class="text-danger h4">No tienes autorizacion para entrar a este modulo</span>
</div>


